    :root {
      --mylogo: #26D9CD;
      --accent: #26D97C;
      --myinterface: #16847D;
      --bg: #121212;
      --black2: #191919;
      --black3: #1C1C1C;
      --grey: #404040;
      --grey2: #666666;
      --text: #FFFFFF;
    }
    h1 {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 48px;
    line-height: 52px;
    margin-top: 40px;
    margin-bottom: 20px;
      }
.image-container img {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 20px;
    display: block;
    border-radius: 20px;
    box-shadow: 4px 0px 8px var(--black2);
}
.business-article {
      margin-bottom: 80px;
}
.view-counter {
  color: var(--grey2);
  text-align: right;
}
.breadcrumbs {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 padding: 0;
 margin-top: 52px;
 font-size: 16px;
 line-height: 20px;
 color: var(--myinterface);
 gap: 4px;
}
.breadcrumbs li:not(:last-child)::after {
 content: "›";
 color: var(--grey);
 margin: 0 4px;
}
.breadcrumbs a {
 color: var(--grey2);
 text-decoration: none;
 font-size: 16px;
 line-height: 20px;
 font-family: 'DM Sans', Arial, sans-serif;
 font-weight: 300;
}
.breadcrumbs a:hover {
 text-decoration: underline;
 color: var(--myinterface);
}
.breadcrumbs a:active {
 text-decoration: none;
 color: var(--myinterface);
}
.breadcrumbs span {
 color: var(--accent);
 font-size: 16px;
 line-height: 20px;
 font-family: 'DM Sans', Arial, sans-serif;
 font-weight: 300;
}
.paragraph {
 margin-bottom: 12px;
}
.paragraph:last-child {
 margin-bottom: 0;
}
@media (max-width: 700px) {
      .business-article {
      margin-bottom: 0px;
      text-align: left;
}
h1 {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 12px;
    line-height: 32px;
      }
      .breadcrumbs {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 padding: 0;
 margin-top: 54px;
 font-size: 14px;
 line-height: 16px;
 color: var(--grey2);
 gap: 4px;
}
.breadcrumbs a {
 color: var(--grey2);
 text-decoration: none;
 font-size: 14px;
 line-height: 16px;
 font-family: 'DM Sans', Arial, sans-serif;
 font-weight: 300;
}
.image-container img {
    width: 100%;
    margin-top: -16px;
    margin-bottom: 20px;
    display: block;
    border-radius: 20px;
    box-shadow: 4px 0px 8px var(--black2);
}
.breadcrumbs span {
 color: var(--accent);
 font-size: 14px;
 line-height: 16px;
 font-family: 'DM Sans', Arial, sans-serif;
 font-weight: 300;
}
.paragraph {
 margin-bottom: 8px;
}
.paragraph:last-child {
 margin-bottom: 0;
}
.business-article {
      margin-bottom: -8px;
}
    }  