    :root {
      --mylogo: #26D9CD;
      --accent: #26D97C;
      --myinterface: #16847D;
      --bg: #121212;
      --black2: #191919;
      --black3: #1C1C1C;
      --grey: #404040;
      --grey2: #666666;
      --text: #FFFFFF;
      --radius: 32px;
    }
    h1 {
      font-family: 'Ubuntu', Arial, sans-serif;
      font-size: 48px;
      line-height: 52px;
      font-weight: 300;
      color: var(--text);
      text-align: center;
      margin-top: 100px;
      margin-bottom: 40px;
    }
    html {
    scroll-behavior: smooth;
}
    .post {
      background: var(--black3);
      border-radius: 20px;
      padding: 24px 24px 24px 24px;
      margin-bottom: 28px;
      box-shadow: 4px 0px 8px var(--black2);
      transition: box-shadow 0.4s;
    }
    .post:last-child {
    margin-bottom: 80px; /* Установите желаемый отступ */
}
    .post h2 {
      margin-top: 0;
      font-size: 24px;
      line-height: 28px;
      color: var(--accent);
      font-family: 'Ubuntu', Arial, sans-serif;
      font-weight: 300;
    }
    .post p {
      margin-top: -16px;
      margin-bottom: 0px;
      color: var(--grey2);
      font-size: 16px;
      line-height: 20px;
      font-family: 'DM Sans', Arial, sans-serif;
      font-weight: 300;
    }
   .post a {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-family: 'DM Sans', Arial, sans-serif;
  display: flex;
  justify-content: flex-end;
  color: var(--text);
  text-decoration: none;
  font-weight: 300;
  overflow: hidden; 
  padding-bottom: 4px;
  box-sizing: border-box;
  transition: color 0.4s;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;
}
.post a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--accent);
  position: absolute;
  bottom: 0; 
  left: 0;
  transform: scaleX(0); 
  transform-origin: left; 
  transition: transform 0.4s ease-in-out;
}
.post a:hover {
  color: var(--accent);
}
.post a:hover::after {
  transform: scaleX(1);
}
.post a:active {
  color: var(--myinterface);
  transition: width 0.4s;
}
.post a:active::after {
  transform: scaleX(1); 
  background: var(--myinterface);
  transition: width 0.4s;
}
    @media (max-width: 1024px) {
      main {
        padding: 24px 24px 24px 24px;
      }
      h1 {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 28px; 
    line-height: 32px;
    margin-top: 96px;
    margin-bottom: 20px;
      }
      .post {
        padding: 16px 16px;
        border-radius: 20px;
        margin-bottom: 20px;
      }
       .post:last-child {
    margin-bottom: 16px; /* Установите желаемый отступ */
}
      .post h2 {
        font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;         
    margin-bottom: 20px;
      }
      .post p {
      margin-bottom: 8px;
      color: var(--grey2);
      font-size: 16px;
      line-height: 20px;
      font-family: 'DM Sans', Arial, sans-serif;
      font-weight: 300;
    }
    }